@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.loginBlock {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

$loginGreen: #4CAF50;
$loginWhite: #f4f9f5;

.loginPage {
  @include niceBackground($loginGreen, $loginWhite);
}

.loginForm {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  .formControl{
    margin-bottom: 2%;
  }

  button {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 800;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #4CAF50;
    margin-top: 3%;
    width: 99%;
    border: 0;
    padding: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  button:hover, .form button:active, .form button:focus {
    background: #43A047;
    text-emphasis: sesame;
  }

  .success:hover, .success:active, .success:focus {
    border-color: #4CAF50;
  }

  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 14px;
  }

  .message a {
    color: #4CAF50;
    text-decoration: none;
  }
}